.wrapper-step {
  margin: 1rem;
  justify-content: center;
}

.step {
  text-align: center;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.range {
  position: relative;
  top: 0.2rem;
}

.label {
  padding-right: 0.2rem;
}
